{% extends "_layout" %}

{% block content %}

{% include "_header" %}

{% set image = entry.workHeaderImage.first() %}
{% if image %}
<div class="row">
  <div class="column">
    <div class="work-item-header app">
      <img src="{{ image.getUrl() }}" alt="">
    </div>
  </div>
</div>
{% endif %}

<section class="background-grey">
  <div class="row">
    <div class="column">
      <p class="subhead">TBA</p>
      <hr class="short">
      <h2>{{ entry.title}}</h2>
      {{ entry.workIntro }}
    </div>
  </div>
</section>



<section>
  <div class="row">
    <div class="column">
      <h3>My Role</h3>
      {{ entry.workMyRole }}

      <h3>The Challenge</h3>
      {{ entry.workTheChallenge }}


{% endblock %}