{% extends "_layout" %}
{% set title = "404" %}

{% block content %}

{% include "_header" %}

<section class="flex-fill-404 background-grey">
  <div class="row">
    <div class="columns small-12">
      
      <p class="subhead">Whoops!</p>
      
      <hr class="short">
      
      <h2 class="less-spacing">404 Page Not Found</h2>
      
      <p class="text-center" style="margin-bottom:24px;">Why not check out some of my latest work while your here!</p>
      
    </div>
  </div>
  <div class="row">

  {% for entry in craft.entries.section('work').limit(4) %}
    <div class="column small-12 medium-3 promo-block-work">
      {% set image = entry.workPromoImage.first() %}
      {% if image %}
      <a href="{{ entry.url }}"><img src="{{ image.getUrl() }}" alt="{{ entry.title }}"></a>
      {% endif %}
      <h3>{{ entry.title }}</h3>
      <a href="{{ entry.url }}" class="button hollow flush-bottom-medium-up">view case study</a>
    </div>
    {% endfor %}

  </div>
  
</section>

{% endblock %}
