<section id="js-marker-work" class="featured-work{% if not craft.request.getPath() %} background-grey {% end %}">
  <div class="row">
    <div class="column small-12">
      <p class="subhead">{{ workIndex.subhead }}</p>
      <hr class="short">
      <h2>{{ workIndex.headline }}</h2>
    </div>
  </div>

  {% for entry in craft.entries.section('work').find() %}
  <div class="row align-middle">
    <div class="column small-12 medium-6{% if loop.index is even %} medium-order-2{% endif %}">
      {% set image = entry.workPromoImage.first() %}
      {% if image %}
      <a href="{{ entry.url }}"><img src="{{ image.getUrl() }}" alt=""></a>
      {% endif %}
    </div>
    <div class="column{% if loop.index is even %} medium-order-1{% endif %}">
      <p class="category">{{ entry.subhead }}</p>
      <h3>{{ entry.title }}</h3>
      <p>{{ entry.workPromoIntro }}</p>
      <p><a href="{{ entry.url }}" class="button hollow">VIEW CASE STUDY</a></p>
    </div>
  </div>

  {% endfor %}

</section>

