<footer>
  <div class="row align-center align-middle">
    <div class="column">
      <a href="{{ siteUrl }}" class="logo"><img src="{{ siteUrl }}lib/img/logo.svg" alt=""></a>
    </div>

    <div class="column small-12 medium-8 large-6">
      <nav class="footer">
        <div class="menu-centered">
          {% if navigation.navigationItem | length %}
          <ul class="menu vertical medium-horizontal menu">
            {% for item in navigation.navigationItem %}
            <li class="{% if craft.request.firstSegment == item.route %}active{% endif %}"><a href="{{ siteUrl }}{{ item.route }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>  
      </div>
    </nav>
    <div class="column">
      <nav class="social menu-centered">
        <ul class="menu">
          {% for social in craft.entries.section('socialBar').find() %}
          {% set image = social.socialIcon.first() %}
          {% if image %}
          <li> <a href="{{ social.socialUrl }}"> <img src="{{ image.getUrl() }}" alt="{{ social.title }}"> </a> </li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>

  <p>Designed by Marcus Handa.</p>
  <p>&copy; {{ now.year }} Marcus Handa. All Rights Reserved</p>

</footer>