{% macro is_active(segment) %}{% if craft.request.firstSegment == segment %}active{% endif %}{% endmacro %}

{% macro is_button(segment) %}{% if segment | length %}button{% endif %}{% endmacro %}

<div class="row">
  <div class="column small-12">
    <nav class="main">
      <a href="/" class="logo"><img src="{{ siteUrl }}lib/img/logo.svg" alt=""></a>

      {% if navigation.navigationItem | length %}
        <ul class="menu float-right">
          {% for item in navigation.navigationItem %}
            {# Assuming 'text' is the column handle of the text field #}
            <li class="{{ macros.is_active(item.route) }}><a class="{{ macros.is_button(item.isButton) }}" href="{{ siteUrl }}{{ item.route }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

    </nav>
  </div>
</div>