<div class="row">
  <div class="column small-12">
    <nav class="main">
      <a href="{{ siteUrl }}" class="logo"><img src="{{ siteUrl }}lib/img/logo.svg" alt=""></a>

      {% if navigation.navigationItem | length %}
        <ul class="menu float-right">
          {% for item in navigation.navigationItem %}
            <li class="{% if craft.request.firstSegment == item.route %}active{% endif %}"><a class="{% if item.isButton | length %}button{% endif %}" href="{{ siteUrl }}{{ item.route }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

    </nav>
  </div>
</div>