<section class="testimonials{% if craft.request.firstSegment == '' %} background-grey{% endif %}">
  <div class="row">
    <div class="column small-12">

      <p class="subhead">{{ testimonialHeadline.subhead }}</p>
      <hr class="short">
      <h2 class="less-spacing">{{ testimonialHeadline.headline }}</h2>

      <div class="testimonial-slider">


        {% for person in craft.entries.section('testimonial').find() %}

        <div>


          <!-- TODO: [SLIDER] use slick.js -->

          <p class="limit-width-center">{{ person.body }}</p>


          {% set image = person.profileImage.first() %}
          {% if image %}
          <center> <!-- HACK -->
            <img class="rounded profile" src="{{ image.getUrl() }}" alt="">
          </center>
          {% endif %}

          <p class="name">{{ person.title }}</p>
          <p class="company">{{ person.company }}</p>

        </div>

        {% endfor %}

      </div> <!-- end .testimonial-slider -->

    </div>
  </div>
</section>
