<section{% if craft.request.firstSegment == 'work' %} class="background-grey"{% endif %}>
  <div class="row">
    <div class="column small-12">
      <p class="subhead">{{ workTogetherPanel.workTogetherSubhead }}</p>
      <hr class="short">
      <h2 class="less-spacing">{{ workTogetherPanel.workTogetherHeadline }}</h2>

      <p class="limit-width-center">{{ workTogetherPanel.workTogetherSupportingCopy }}</p>
      <p class="text-center flush-bottom"> <a href="{{ siteUrl }}contact" class="button cta flush-bottom">{{ workTogetherPanel.workTogetherCta }}</a> </p>
    </div>
  </div>
</section>






