{% extends "_layout" %}

{% block content %}

{% include "_header" %}

<div class="row">
  <div class="column small-12">

    <div class="hero">
      <h1 class="text-center"> {{ entry.heroHeadline }} </h1>

      <p class="text-center"> {{ entry.heroSubhead }} </p>

      <p class="text-center">
      <a id="js-trigger-work" class="button hollow">
          <img src="{{ siteUrl }}lib/img/button-icon-circle-down.svg" alt="">
          {{ entry.heroCta }} 
        </a>
      </p>
    </div>

  </div>
</div>

<section class="background-grey">
  <div class="row">
    <div class="columns small-12">

      <p class="subhead"> {{ entry.benefitsSubhead }} </p>

      <hr class="short">

      <h2> {{ entry.benefitsHeadline }} </h2>

      <div class="row align-justify">
        <div class="columns small-12 medium-5 large-5 self-align-middle small-order-2">

          {{ entry.benefitsCopy }}

        </div>
        <div class="columns small-12 medium-7 large-6 self-align-top small-order-1">
          {% set image = entry.benefitsImage.first() %}
          {% if image %}
          <img src="{{ image.getUrl() }}" alt="">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% include "_featuredwork" %}
{% include "_testimonial" %}
{% include "_worktogether" %}
{% include "_footer" %}

{% endblock %}
