{% extends "_layout" %}

{% block content %}

{% include "_header" %}

<section class="background-grey">

  <div class="row">
    <div class="column small-12 text-center">

      <img src="{{ siteUrl }}lib/img/icon-cicle-thumbs-up.svg" alt="">
      
      <br>
      <br>

      <h3>{{ entry.headline }}</h3>

      <p>{{ entry.body }}</p>

      <br>

      <p> <a href="/">{{ entry.subhead }}</a> </p>
    </div>
  </div>
</section>

<script language="javascript">
  window.setTimeout(function() {
    window.location.href = "/"
  }, 10000);
</script>


{% endblock %}
